{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <!--maximum-scale=1.0, minimum-scale=1.0, user-scalable=no-->
    <link rel="stylesheet" href="/static/css/Eirene.css"/>
    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <title>Eirene</title>
</head>
<body>
<div id="hide">
</div>
<div id="wrap">
    <header>
        <div id="drop_down">
            <ul id="f_ul">
                <li>
                    <a href="#" class="d_click">J-US Worship</a>
                    <ul>
                        <li>A</li>
                        <li>B</li>
                        <li>C</li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="d_click">Markers Worship</a>
                    <ul>
                        <li>A</li>
                        <li>B</li>
                        <li>C</li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="d_click">Anointing</a>
                    <ul>
                        <li>A</li>
                        <li>B</li>
                        <li>C</li>
                    </ul>
                </li>
            </ul>
        </div>
        <h1><a href="{% url 'boards' %}" id="main_tag">Eirene</a></h1>
    </header>
    <div id="container">
        <nav id="img_nav">
            {% block img %}
            {% endblock %}
        </nav>
        <div id="content">
            <section>
                {% block content %}
                {% endblock %}
            </section>
        </div>
    </div>
    <footer>
    </footer>
</div>
</body>
</html>