{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./static/css/post_list.css"/>
    <title>of</title>
</head>
<body>
<div id="wrap">
    <header>
        <div id="drop_down">
            <ul id="f_ul">
                <li>J-US Worship
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </li>
                <li>Markers Worship
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </li>
                <li>Anointing
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="main_name">
            <h1>Eirene</h1>
        </div>
    </header>

    <div id="container">
        <img src="{% static 'img/jus1.jpg' %}" alt="j-us"/>
        <img src="{% static 'img/markers1.jpg' %}" alt="markers"/>
        <img src="{% static 'img/anointing1.jpg' %}" alt="anointing"/>
            {% block content %}
            {% endblock %}
    </div>
    <footer>
        <div id="mini_footer">
            <a>Address : </a><br/>
            <a>Tel : </a>
        </div>
    </footer>
</div>
</body>
</html>