*{margin: 0; padding: 0}
html, body {
    width: 100%;
    height: auto;
}
#wrap {
    width: 100%;
    height: 1200px;
    margin: 0 auto;
    background-color: #B978F7;
    padding-top: 4%;
}
header {
    width: 80%;
    height: 10%;
    margin: 0 auto;
    background-color: #D9B5FB;
    border-radius: 10px;
}
h1 {
    text-align: center;
    font-size: 50px;
}
#container {
    width: 80%;
    height: 70%;
    margin: 0 auto;
    background-color: #E9DCF5;
    border-radius: 10px;
}
nav {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 10px;
}
table {
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
    background-color: #F1E6FB;
}
td {
    border-radius: 10px;
}
footer {
    width: 100%;
    height: 15%;
    margin-top: 20px;
}
#mini_footer {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 10px;
}